/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ANTON, sans-serif;
}

/* Configuração do corpo */
body {
    background-image: url('imagens/final.png');
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    background-size: cover; /* Faz a imagem cobrir o elemento */

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 550px;
    position: absolute;
}

/* Estilo do perfil */
.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 1.2rem;
    font-weight: bold;
}

.description {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Estilo dos links */
.links, .emagreca {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.link {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #2D15C8, #1a0d9b); /* Gradiente suave */
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 1.6rem;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}

.link {
    transition: transform 0.5s ease, opacity 0.3s ease;
  }
  
.link:hover {
    transform: translateY(-10px);
  }

  .link2 {
    transition: transform 0.5s ease, opacity 0.3s ease;
  }
  
.link2:hover {
    transform: translateY(-10px);
  }

a img {
    width:45px;
    height:60px;
}

a .seta {
    width:60px;
    height:115px;
}

a .seta-invertida {
    width:60px;
    height:115px;
    transform: rotate(180deg);
}

.icon-img, .icond {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
}

.link img.icon-img {
    order: -1; /* Faz a imagem aparecer antes do texto (pode ser ajustado para o caso contrário) */
}

.link img.icond {
    order: 1; /* Faz a imagem aparecer depois do texto (ajuste conforme necessário) */
}


/* Responsividade */
@media (max-width: 400px) {
    .profile img {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .link {
        font-size: 1rem;
        padding: 12px;
    }
}

@media (max-width: 425px) {
    body {
        background-image: url('imagens/backm.png');
        background-size: cover; /* Faz a imagem cobrir o elemento */
    }
}

@media (min-width:376px) and (max-width: 425px) {
    .profile img {
        width: 120px;
        height: 120px;
    }
    
    .description {
        margin-bottom: 10px;
    }
}



@media (min-width:768px) and (max-width: 1024px) {
    .profile img {
        width: 120px;
        height: 120px;
    }
    .link {
        font-size: 1.3rem;
        padding: 12px;
    }
}


