* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #f0f4ff;
}

/* Container principal */
.container {
    padding: 0 20px;
    max-width: 600px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

/* Estilo do perfil */
.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilo dos links */
.links {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    gap: 35px;
    margin: 0 auto;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #3a22d4, #1a0d9b); /* transição mais fluida */
    color: white;
    text-decoration: none;
    padding: 25px 2.5rem;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.4;
    transition: transform 0.5s ease, opacity 0.3s ease;
}
  
.link:hover {
    transform: translateY(-10px);
    opacity: 0.9; /* Suave no hover */
  }


  /* Responsividade */


/* até 425px (celulares pequenos) */
@media (max-width: 425px) {
    .profile img {
        width: 90px;
        height: 90px;
        margin-top: 10px;
    }

    .link {
        font-size: 1rem;
        padding: 12px 1.5rem;
        height: 60px;
    }

    .links {
        gap: 15px;
        width: 100%;
        max-width: 500px;
    }
}

/* tablets e intermediários */
@media (min-width: 426px) and (max-width: 1024px) {
    .profile img {
        width: 120px;
        height: 120px;
    }

    .link {
        font-size: 1.3rem;
        padding: 16px;
    }
}
